[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"

[connector]
dotenv = "*"

[analyser]
python-magic = "*"

[dev-packages]
ruff = "*"
pdoc = "~=15.0"

[requires]
python_version = "3.11"
